
.button.is-info {
    width: 100px;
    margin-top: 50px;
 
}

input.input {
    margin-top: 50px;
    width: 400px;
    margin-left: 30px;
}

.image img {
    margin-top: 100px;
    width: 50%;

}

figure.image {
    display: flex;
    justify-content: space-around;
}

#character-name {
    text-align: center;
    font-size: xx-large;
}

.character-name {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;

}

.character-image { 
    border-radius: 50%;
    background-color: black;
}

.character-image img {
    width: 100%;
    border-radius: 50%;
}

.character-bio {
    font-size: 18px;
    color: red;

}