html {
    background-color: black;
}

body {
    padding: 15px;
}

.button.is-info {
    margin-top: 25px;

}

input.input {
    margin-top: 50px;
}

.image img {
    margin-top: 100px;
    width: 50%;

}

figure.image {
    display: flex;
    justify-content: space-around;
}

#character-name {
    text-align: center;
    font-size: xx-large;
}

.character-name {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: white;

}

.character-image {
    text-align: center;
}

.character-image img {
    width: 50%;
    border-radius: 50%;

}

.character-bio {
    font-size: 20px;
    color: red;
    text-align: center;
    padding: 10px;

}

.powers-list {
    color: white;
    font-size: 20px;
    text-align: center;
}